@import "../../css/colors.css";

.community-button {
    box-shadow: 0 0 0 1px $ui-black-transparent;
}

.community-button-icon {
    height: 1.25rem;
}

@media only screen and (max-width: 900px) {
    .community-button-label {
        display: none;
    }

    .community-button-icon {
        margin: 0;
        margin-right: 0 !important;
    }
}
