@import "../../css/colors.css";

.save-now {
    cursor: pointer;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.save-now:hover {
    background-color: $ui-black-transparent;
}

.save-icon {
    display: none;
    flex-shrink: 0;
}

.save-icon-always {
    display: block;
    flex-shrink: 0;
}

.save-label {
    white-space: nowrap;
}

@media only screen and (max-width: 900px) {
    .save-icon {
        display: block;
    }

    .save-label {
        display: none;
    }
}

:global(.mw-compact-save) .save-icon {
    display: block;
}

:global(.mw-compact-save) .save-label {
    display: none;
}
